.css-typing p {
    /* border-right: .15em solid orange; */
    font-size: 1.6em;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    text-align: center;
    margin:0;
}

.css-typing p:nth-child(1) {
    width: 8em;
    -webkit-animation: type 5s steps(520, end);
    animation: type 5s steps(520, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
    
}



@keyframes type {
    0% {
        width: 0;
    }

    /* 99.9% {
        border-right: .25em solid orange;
    } */

    /* 100% {
        border: none;
    } */
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }

    /* 99.9% {
        border-right: .25em solid orange;
    } */

    /* 100% {
        border: none;
    } */
}