img {
    border-radius: 12%;
    border: 4px solid whitesmoke;
    width: 100%;
    height: auto;
    background-color: #9daaf2;
}
/* .MuiGrid-root {
    background-color: green;
    margin:0;
    padding: 0;
} */
/* .MuiGrid-item {
    background-color: red; */
    /* padding:0 !important; */
    /* margin:0; */
/* } */
/* .MuiGrid-root.MuiGrid-item.MuiGrid-root {
    background-color: pink;
    padding: 0;
    margin: 0;
} */
/* .css-1bq56vk-MuiGrid-root>.MuiGrid-item
 {
/* background-color: yellowgreen; 
padding: 0 ;
margin: 0 ;
} */

/* .css-1ttgalp-MuiGrid-root>.MuiGrid-item {
    background-color: #F8F8F8;
    border-radius: 6%;
    padding: 0 ;
    margin: 0 ;
} */