@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");
/* GLOBALL */
:root {
  --clr-white: #fff;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --milky-way: #f8f8fb;
  --tangerine: #ff6a3d;
  --midnight: #1a2238;
  --twilight: #29375b;
  --daffodil: #f9db6d;
  --lavender: #9daaf2;
}
.colorTangerine {
  color: var(--tangerine);
}
body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fee7c5;
  height: 5000px;
}

.loaderWrapper {
  background-color: var(--midnight);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.ahoj {
  background-color: red;
}
